<footer class="footer">
    <a href="#headerTop" class="footer__buttonScroll">
        <img src="./assets/images/ico-arrow.svg" alt="Button scroll up">
    </a>
    <nav class="footer__nav">
        <ul class="footer__nav--ul">
            <li class="footer__nav--ulItem"><a href="https://adalab.es/">Articles</a></li>
            <li class="footer__nav--ulItem"><a href="https://adalab.es/">Books</a></li>
            <li class="footer__nav--ulItem"><a href="https://adalab.es/">Events</a></li>
            <li class="footer__nav--ulItem"><a href="https://adalab.es/">Reasons</a></li>
            <li class="footer__nav--ulItem"><a href="https://adalab.es/">Tips</a></li>
        </ul>
    </nav>
    <section class="footer__rrss">
        <ul class="footer__rrss--ul">
            <li class="footer__rrss--ulItem"><a href="https://adalab.es/">Twitter</a></li>
            <li class="footer__rrss--ulItem"><a href="https://adalab.es/">Instagram</a></li>
            <li class="footer__rrss--ulItem"><a href="https://adalab.es/">Mastodon.social</a></li>
        </ul>
    </section>
    <section class="footer__info">
        <p>&copy; 2021</p>
        <p>We <span class="footer__info--love">&#x2764</span> components</p>
    </section>
</footer>
