<section class="section2">

    <h2 class="section2__title">3 reasons to purchase</h2>
    <include 
        src="./article-item.html" 
        title="Ut sed metus" 
        text="Lorem ipsum dolor sit amet, consecteur.">
    </include> 
    <include 
        src="./article-item.html"
        title="Curabitur ac erat" 
        text="Marius mattis urna quis lorem molestie.">
    </include> 
    <include 
        src="./article-item.html"
        title="Morbi dictum" 
        text="Aliquam in dolor et dolor tincidunt.">
    </include> 
    <div class="section2__rectangle"><a href="#" class="section2__rectangle--button">More reasons</a></div>

</section>