.footer{
    width: 100%;
    height: 465px;
    padding: 60px 15px 45px 15px;
    background-color: #304268;
    color: $fontColorPpal;
    font-family: $fontText;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__buttonScroll{
        position: absolute;
        width: 45px;
        height: 45px;
        padding: 11px 12.4px 10px 12px;
        background-color: #fff;
        border-radius: 50%;
        top: 0;
        transform: translateY(-50%);
    }
    &__nav{
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.88;
        &--ul{
            list-style: none;
            &Item a{
                color: $fontColorPpal;
            }
        }
    }
    &__rrss{
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.88;
        &--ul{
            list-style: none;
            &Item a{
                color: $fontColorPpal;
            }
        }
    }
    &__info{
        font-size: 14px;
        line-height: 2.14;
        text-align: center;
    }
}
