@keyframes boingUp {
    0%   {top:0px;}
    25%  {top:-15px;}
    50%  {top:0px;}
    75%  {top:-10px;}
    100% {top:0px;}
}
.footer{
    width: 100%;
    height: 465px;
    padding: 60px 15px 45px 15px;
    background-color: #304268;
    color: $fontColorPpal;
    font-family: $fontText;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
    &__buttonScroll{
        position: absolute;
        width: 45px;
        height: 45px;
        padding: 11px 12.4px 10px 12px;
        background-color: #fff;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        &:hover{
            animation-name: boingUp;
            animation-duration: 0.8s;
            animation-iteration-count: 1;
            box-shadow: 4px 7px 9px #0e1524;
        }
        @media all and(min-width:720px){
            display: block;
        }
    }
    &__nav{
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.88;
        &--ul{
            list-style: none;
            &Item a{
                color: $fontColorPpal;
            }
        }
    }
    &__rrss{
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.88;
        &--ul{
            list-style: none;
            &Item a{
                color: $fontColorPpal;
            }
        }
    }
    &__info{
        font-size: 14px;
        line-height: 2.14;
        &--love{
            color: $colorAction;
        }
/*         @media all and(min-width:720px){
            order: -1;
        } */
    }
    @media all and(min-width:720px){
        padding: 45px;
        height: 240px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }
    @media all and(min-width:1140px){
        padding: 45px 370px;
    }
}
