.section1{
    background-color: #fff;
    width: 100%;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 15px;
    &__textSmall{
        font-family: $fontText;
        color: #8ccbea;
        font-size: 14px;
        margin-bottom: -20px;
        text-transform: capitalize;
        @media all and(min-width:1140px){
            font-size: 16px;
            margin-bottom: -30px
        }
    }
    &__title{
        font-family: $fontTitles;
        color: $fontColorScnd;
        font-size: 24px;
        text-transform: capitalize;
        @media all and(min-width:720px){
            font-size: 26px;
        }
        @media all and(min-width:1140px){
            font-size: 32px;
        }
    }
    &__text{
        font-family: $fontText;
        color: #4a4a4a;
        font-size: 18px;
        line-height: 1.67;
        @media all and(min-width:720px){
            font-size: 20px;
        }
    }
    &__button{
        color: $colorAction;
        font-family: $fontText;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        width: 75px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border: 2px solid $colorAction;
        border-radius: 22px;
        transition: font-size ease 0.5s, box-shadow ease 0.5s;
        &:hover{
            font-size: 22px;
            box-shadow: 10px 10px 8px #888888;
            border: 0;
            background-color: $colorAction;
            color: #fff;
            font-weight: 100;
        }
        @media all and(min-width:720px){
            width: 95px;
        }
        @media all and(min-width:1140px){
            width: 160px;
        }
    }
    @media all and(min-width:720px){
        padding: 0px 45px;
    }
    @media all and(min-width:1140px){
        padding: 0px 275px;
    }
}

